[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reactivex = "*"
pandas = "*"
pyside6 = "*"
sqlalchemy = "*"
alembic = "*"
injector = "*"
mypy = "*"
pandas-stubs = "*"
pyside6-stubs = "*"

[dev-packages]

[requires]
python_version = "3"
