[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reactivex = "*"
pandas = "*"
openpyxl = "*"
pyside6 = "*"
sqlalchemy = "*"
alembic = "*"
injector = "*"
mypy = "*"
qt-material = "*"
overrides = "*"

[dev-packages]
assertpy = "*"
pandas-stubs = "*"
pyside6-stubs = "*"

[requires]
python_version = "3"
